# Editor folders
**/.idea/
**/.vscode/

# Sensitive files
**/.env
**/env.php

# Vendor directories
**/vendor/

# Cache files
EagleCore/views/*
!EagleCore/views/blade/compiled/.gitkeep
!EagleCore/views/twig/.gitkeep