<?php

use SaboCore\Configuration\ApplicationConfiguration;
use SaboCore\Configuration\DatabaseConfiguration;
use SaboCore\Configuration\EnvConfig;
use SaboCore\Configuration\MaintenanceConfiguration;
use SaboCore\Database\Providers\Connection\MysqlConnection;

# --------------------------------------------------------------------
# application configuration
# --------------------------------------------------------------------

$applicationConfiguration = [
    ApplicationConfiguration::APPLICATION_NAME => "Sabo Framework",
    ApplicationConfiguration::APPLICATION_VERSION => "1.0.0",
    ApplicationConfiguration::APPLICATION_ASSETS_VERSION => "1.0.0",
    ApplicationConfiguration::APPLICATION_LINK => "127.0.0.1:8080",
    ApplicationConfiguration::APPLICATION_DEV_MODE => true
];

# --------------------------------------------------------------------
# database configuration
# --------------------------------------------------------------------

$databaseConfiguration = [
    DatabaseConfiguration::INIT_APP_WITH_CON => false,
    DatabaseConfiguration::CONNECTION_PROVIDER => new MysqlConnection(
        host: "localhost",
        user: "root",
        password: "",
        database: "sabo_framework",
        port: "3306"
    )
];

# --------------------------------------------------------------------
# maintenance config
# --------------------------------------------------------------------

$maintenanceConfiguration = [
    MaintenanceConfiguration::IS_IN_MAINTENANCE => false,
    MaintenanceConfiguration::SECRET_ACCESS_LINK => "/secret/maintenance/access/dev/konjiki-ashisogi-jizo",
    MaintenanceConfiguration::ACCESS_CODE => '$2y$10$MfM0lr3rRxGMWeKV5aCtB.ZkZFwNQVZ4HgcurZadRLgA0OYUeY8lq',
    MaintenanceConfiguration::MAX_TRY => 2
];

# --------------------------------------------------------------------
# mailer configuration
# --------------------------------------------------------------------

$mailerConfiguration = [];

# --------------------------------------------------------------------
# define your custom configurations
# --------------------------------------------------------------------

$customConfiguration = [];

# --------------------------------------------------------------------
# rendering configuration
# --------------------------------------------------------------------

return [
    EnvConfig::APPLICATION_CONFIGURATION => $applicationConfiguration,
    EnvConfig::DATABASE_CONFIGURATION => $databaseConfiguration,
    EnvConfig::MAINTENANCE_CONFIGURATION => $maintenanceConfiguration,
    EnvConfig::MAILER_CONFIGURATION => $mailerConfiguration,
    EnvConfig::CUSTOM_CONFIGURATION => $customConfiguration,
];